* {
    box-sizing: border-box;
    
}

.italic {
    font-style: italic;
}

.margin-bottom-small {
    margin-bottom: 1rem;
}

.margin-right-small {
    margin-right: 1rem;
}

.margin-left-small {
    margin-right: 1rem;
}

.margin-top-small {
    margin-right: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.justify-right {
    justify-content: right;
    text-align: right;
}

.column {
    display: flex;
    flex-direction: column;
}

.general-button {
    color: black;
    border: 1px solid black;
    border-radius: 0.3rem;
    margin: 0.2rem;
}

.doc-container {
    margin: 1rem;
    background-color: bisque;
    border: 1px solid burlywood;
    border-radius: 1rem;
    padding: 0.1rem 1rem;
    
}

.response {
    background-color: rgb(235, 210, 180);
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 1rem;
}

h4 {
    font-weight: bold;
    margin: 0.5rem;
    margin-left: 0;
}

.method {
    font-weight: bold;
}

.endpoint-description {
    font-weight: bold;
}

.user-login-buttons {
    display: flex;
    flex-direction: row;
    
}

#user-container {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    justify-content: center; 
    margin-left: 30%;
    margin-right: 30%;
    border: 1px solid #000000;
    background-color: #b3b3b3;
    padding: 3rem;
    border-radius: 0.3rem;
}

.user-login-info {
    
}