
.italic {
    font-style: italic;
}

.doc-container {
    margin: 1rem;
    background-color: bisque;
    border: 1px solid burlywood;
    border-radius: 1rem;
    padding: 0.1rem 1rem;
    
}

.response {
    background-color: rgb(235, 210, 180);
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 1rem;
}

h4 {
    font-weight: bold;
    margin: 0.5rem;
    margin-left: 0;
}

.method {
    font-weight: bold;
}

.endpoint-description {
    font-weight: bold;
}